$color-one: #1B3260;
$color-two: #FF5A5F;
$color-three: #087E8B;
$color-four: #F5F5F5;

body {
    padding: 0;
    margin: 0;
    font-family: "Quicksand";
}

nav {
    background-color: $color-one;
}

footer {
    background-color: $color-two;
    text-align: center;
    padding: 25px 0;
    font-size: 2em;
}

.container {
    margin: 50px;
    width: 100%;
}

.card-container {
    display: inline-block;
}

.card {
    display: inline-block;
    margin: 0.5em;
    width: 350px;
    overflow: hidden !important;
}

.photo-thumb {
    max-width: 200px;
    max-height: 200px;
}

.modal {
    outline: none;
    top: 16% !important;
}
