$color-one: #1B3260;
$color-two: #FF5A5F;
$color-three: #4c4f54;
$color-four: #F5F5F5;

body {
    padding: 0;
    margin: 0;
    font-family: "Quicksand";
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

nav {
    background-color: $color-one;
}

main {
    flex: 1 0 auto;
}

footer {
    background-color: $color-two;
    text-align: center;
    padding: 25px 0;
    font-size: 2em;
}

.container {
    margin: 50px;
    width: 100%;
}

.card-container {
    display: inline-block;
}

.card {
    display: inline-block;
    margin: 0.5em;
    width: 350px;
    overflow: hidden !important;
}

.photo-thumb {
    max-width: 200px;
    max-height: 200px;
}

.modal {
    outline: none;
    top: 16% !important;
}

.btn {
    background-color: $color-three;
    color: white;
    font-weight: bold;
}
